/* 密码保护部分的样式 */
#password-protection {
    text-align: center;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #c9d1d9;
    border-radius: 12px;
    background-color: #c9d1d9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  #password-protection label {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  #password-protection input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #c9d1d9;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  #password-protection input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  #password-protection button {
    background-color: #007bff;
    color: #c9d1d9;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-family: inherit;
  }
  
  #password-protection button:hover {
    background-color: #0056b3;
  }
  
  /* Toast 提示样式 */
  #toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4f;
    color: #c9d1d9;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  #toast.show {
    visibility: visible;
    opacity: 1;
  }
  

  /*movies css*/
  /* 瀑布流布局使用 CSS Grid 或 Flexbox，这里使用 CSS Grid */
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.movie-card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .movie-poster {
  transform: scale(1.05);
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}
