/* 密码保护部分的样式 */
#password-protection {
    text-align: center;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #c9d1d9;
    border-radius: 12px;
    background-color: #c9d1d9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  #password-protection label {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  #password-protection input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #c9d1d9;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  #password-protection input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  #password-protection button {
    background-color: #007bff;
    color: #c9d1d9;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-family: inherit;
  }
  
  #password-protection button:hover {
    background-color: #0056b3;
  }
  
  /* Toast 提示样式 */
  #toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4f;
    color: #c9d1d9;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  #toast.show {
    visibility: visible;
    opacity: 1;
  }
  

  /*movies css*/
.movies-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #c9d1d9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-poster img {
  width: 120px;
  height: auto;
  border-radius: 4px;
}

.movie-details {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-title {
  font-size: 18px;
  color: #555;
  font-weight: bold;
  margin: 0 0 10px;
}

.movie-star {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.movie-star-time,
.movie-comment {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.movie-star-time {
  color: #888;
}

